<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CAN 2025 Morocco</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<!-- NAVBAR -->
<header class="navbar">
    <div class="logo">CAN 2025</div>
    <nav>
        <a href="index.html" class="active">Home</a>
        <a href="about.html">About</a>
        <a href="classement.html">Classement</a>
        <a href="chatbot.html">Chatbot</a>
        <a href="contact.html">Contact</a>
    </nav>
</header>

<!-- HERO -->
<section class="hero">
    <div class="hero-content">
        <span class="can-badge">MOROCCO</span>
        <h1>Là où la passion rencontre l’excellence </br>le Maroc accueille l’élite de l’Afrique.</h1>
        <p>Rejoignez-nous pour entrer dans l’histoire alors que le Maroc accueille la 35ᵉ Coupe d’Afrique des Nations.</p>
        <a href="chatbot.html" class="btn-primary">Lancez-vous</a>
    </div>
</section>


<!-- MAROC & CAN -->
<section class="morocco">
    <span class="section-badge">MAROC - CAN 2025</span>

    <h2>Le Maroc, terre d’accueil de la Coupe d’Afrique des Nations 2025</h2>
    <div class="underline"></div>

    <p class="morocco-description">
        Le Maroc est fier d’accueillir la <strong>35ᵉ édition de la Coupe d’Afrique des Nations (CAN 2025)</strong>,
        un événement majeur qui rassemble toute l’Afrique autour de la passion du football.
        Fort de son expertise organisationnelle, de ses infrastructures modernes
        et de sa riche culture sportive, le Royaume promet une CAN exceptionnelle,
        mêlant émotion, excellence et hospitalité.
    </p>

    <div class="morocco-stats">
        <div class="stat-card green">
            <h3>Stades </h3>
            <p>9+</p>
            <span>Infrastructures aux standards internationaux</span>
        </div>

        <div class="stat-card red">
            <h3>Villes hôtes</h3>
            <p>6</p>
            <span>À travers tout le Royaume</span>
        </div>

        <div class="stat-card green">
            <h3>Sélections</h3>
            <p>24</p>
            <span>Les meilleures équipes africaines</span>
        </div>
    </div>
</section>


<!-- CITIES -->
<section class="cities">
    <h2>HOST CITIES – CAN 2025</h2>
    <div class="underline"></div>

    <div class="city-grid">
        <div class="city-card">
            <img src="images/marrekecH.jpg">
            <div class="city-overlay">MARRAKECH</div>
        </div>
        <div class="city-card">
            <img src="images/casablanca.jpg">
            <div class="city-overlay">CASABLANCA</div>
        </div>
        <div class="city-card">
            <img src="images/rabat.jpg">
            <div class="city-overlay">RABAT</div>
        </div>
        <div class="city-card">
            <img src="images/Tanger.jpg">
            <div class="city-overlay">TANGER</div>
        </div>
        <div class="city-card">
            <img src="images/fes.jpg">
            <div class="city-overlay">FÈS</div>
        </div>
        <div class="city-card">
            <img src="images/agadir.jpg">
            <div class="city-overlay">AGADIR</div>
        </div>
    </div>
</section>

<footer>
    © 2025 CAN — Africa Cup of Nations • Morocco 
</footer>

</body>
</html>
